* {
  margin: 0;
  padding: 0;
  font-family: 'MontserratRegular';
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:active {
  color: purple;
}

body {
  height: 100%;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../../fonts/MontserratRegular.eot');
    src: url('../../fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../../fonts/MontserratRegular.woff2') format('woff2'),
         url('../../fonts/MontserratRegular.woff') format('woff'),
         url('../../fonts/MontserratRegular.ttf') format('truetype'),
         url('../../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}


