@import "fonts";
@import "reset";

* {
  font-family: 'MontserratRegular', 'Arial', sans-serif;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: pink;
}

.tips {
  margin: 15px 0;
  font-size: 25px;
}

.canvas-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0 0 1px black;
}

.locations {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;  
}

.location {
  &-wrapper {
    position: relative;
    width: 25%;
    height: 100%;
    transition: width 0.5s;
    cursor: pointer;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  &-name {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    font-size: 30px;
    background-color: pink;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 0.5s;
  }
}

.bar-wrapper {  
  position: absolute;
  top: 30px;
  max-width: 300px;
  width: 100%;
  p {
    font-size: 23px;
    color: #ffffff;
    text-shadow: 0 0 1px black;
  }
  div {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(270deg, lightblue, pink);
    background-size: 400% 400%;
    transition: width 1s;
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  }
}

.enemy-bar-wrapper {
  right: 100px;
}

.hero-bar-wrapper {
  left: 100px;
}

.spell {
  position: absolute;
  height: 70px;
  left: 10%;
  opacity: 0;
}

.records-table {
  position: absolute;
  right: 25px;
  top: 25px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.end-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 500px;
  height: 200px;
  background-color: rgba(lighten(purple, 30%), 0.8);
  color: #ffffff;
  border-radius: 25px;
  transform: translate3d(-50%, -50%, 0);
  animation: fadeIn 1s linear;
  
  p:first-of-type {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0 0 1px 1px #000000;
  }

  p:last-of-type {
    color: #000000;
    margin-top: 25px;
    padding: 15px;
    font-size: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
  }
}

.level-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 500px;
  height: 200px;
  background-color: rgba(lighten(purple, 30%), 0.8);
  color: #ffffff;
  border-radius: 25px;
  transform: translate3d(-50%, -50%, 0);
  animation: fadeIn 1s linear;

  p:first-of-type {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0 0 1px 1px #000000;
  }

  p:last-of-type {
    color: #000000;
    margin-top: 25px;
    padding: 15px;
    font-size: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
  }
}

.results-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  width: 800px;
  background-color: rgba(#000000, 0.9);
  box-shadow: 0 0 1px #ffffff;
  transform: translate3d(-50%, -50%, 0);
  color: #ffffff;
  animation: fadeIn 1s linear;
  .close-results-modal {
    position: absolute;
    right: 25px;
    top: 0px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: grey;
    }
  }
  & > p {
    margin-top: 15px;
    font-size: 25px;
    color: #ffffff;
  }
  .results-list {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 10px;
    div {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      p {
        width: 33%;
        text-align: center;
      }
    }
  }
}

.nickname-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 1px #000000;
  transform: translate3d(-50%, -50%, 0);
  p:first-of-type {
    font-size: 30px;
    font-weight: 700;
  }
  p:last-of-type {
    max-width: 120px;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
    transition: border 0.2s;
    &:hover {
      border: 1px solid yellow;
    }
  }
  input {
    margin: 15px 0;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000000;
  }
}

@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@keyframes lightning {
  0% {
    opacity: 1;
    top: 30%;
  }
  100% {
    opacity: 1;
    top: 82%;  
  }
}

@keyframes fireball-to-hero {
  0% {
    opacity: 1;
    left: 83%;
  }
  100% {
    opacity: 1;
    left: 15%;
  }
}
@keyframes fireball-to-enemy {
  0% {
    opacity: 1;
    left: 15%;
  }
  100% {
    opacity: 1;
    left: 83%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


